/* Reset do CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Estilo de cores */


:root {
    --cor-de-fundo: #0f172a;
    --cor-do-h1: #f8fafc;
    --cor-do-h2: #38bdf8;
    --cor-do-paragrafo: #cbd5e1;
    --botões-links: #22c55e;
    --cor-do-footer: #94a3b8;
    --cor-do-badges-: #1e293b;
    --cor-do-texto-badges: #38bdf8;
    --cor-da-borda: #f8fafc;
    --cor-do-texto-link: #f8fafc;

}




body,
html {
    background-color: var(--cor-de-fundo);
    margin: 1em;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;

}



section {
    padding: .2em;

}





header,
.main-title {
    color: var(--cor-do-h1);
    text-align: center;
    font-weight: 500;
}




.description {
    color: var(--cor-do-paragrafo);
    font-size: .9em;
    padding-bottom: 1em;

}



.section-title {
    display: inline-block;
    color: var(--cor-do-h2);
    font-weight: 600;
    font-size: 1.2em;
    padding-bottom: .2em;
    margin-bottom: .8em;
    border-bottom: 1px solid var(--cor-da-borda);

}



ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1.2em;
}




li {
    display: inline-block;
    background-color: var(--cor-do-badges-);
    color: var(--cor-do-texto-badges);
    padding: 0.7em 0.8em;
    border-radius: 7px;
    font-weight: 500;
    font-size: .9em;

}




/* Botões links */


.link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    padding: .5em 1em;
    background-color: var(--botões-links);
    border-radius: 5px;
    color: var(--cor-do-texto-link);
    text-decoration: none;
    font-weight: 300;
}



/* Footer */


.rodape {
    color: var(--cor-do-footer);
    text-align: center;
}







/* Media Query*/


/* Tablet 768px */


@media (min-width: 768px) {

    .container-curriculo {
        max-width: 500px;
        margin: 0 auto;
    }


    /* Botões links */
    .link {
        max-width: 500px;
        margin: 0 auto;
        margin-bottom: 1em;
    }
}


/* Desktops 1024px */


@media (min-width: 1024px) {
    .container-curriculo {
        max-width: 1200px;
        margin: 0 auto;
    }



    .section-title {
        font-size: 1.9em;
        display: block;
        background-color: var(--cor-do-badges-);
        padding: .2em 0;
        padding-left: .5em;
        margin-top: 1em;

    }



    .link {
        display: inline-block;
        padding: .6em 1em;
        margin: .5em;
        transition: transform 0.2s ease;
    }


    .link:hover {
        /* transform: scale(1.05) rotate(5deg); */
        background-color: transparent;
        color: var(--cor-do-texto-badges);
        transform: scale(1.05) rotate(3deg) translateY(-2px) translateX(1px);

    }


    .rodape{
        font-size: .9em;
    }
}