/* Reset do CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Estilo de cores */


:root {
    --cor-de-fundo: #0f172a;
    --cor-do-h1: #f8fafc;
    --cor-do-h2: #38bdf8;
    --cor-do-paragrafo: #cbd5e1;
    --botões-links: #22c55e;
    --cor-do-footer: #94a3b8;
    --cor-do-badges-: #1e293b;
    --cor-do-texto-badges: #38bdf8;
    --cor-da-borda: #f8fafc;
    --cor-do-texto-link: #f8fafc;

}




body,
html {
    background-color: var(--cor-de-fundo);
    padding: 2em;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}





section {
    padding: .2em;

}





header,
.main-title {
    color: var(--cor-do-h1);
    text-align: center;
    font-weight: 500;
}




.description {
    color: var(--cor-do-paragrafo);
    font-size: .9em;

}



.section-title {
    display: inline-block;
    color: var(--cor-do-h2);
    font-weight: 600;
    font-size: 1.2em;
    padding-bottom: .2em;
    margin-bottom: .8em;
    border-bottom: 1px solid var(--cor-da-borda);

}



ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1.2em;
}




li {
    display: inline-block;
    background-color: var(--cor-do-badges-);
    color: var(--cor-do-texto-badges);
    padding: 0.7em 0.8em;
    border-radius: 7px;
    font-weight: 500;
    font-size: .9em;

}




/* Botões links */


.link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    padding: .5em 1em;
    background-color: var(--botões-links);
    border-radius: 5px;
    color: var(--cor-do-texto-link);
    text-decoration: none;
    font-weight: 300;
}




/* Footer */


.rodape{
    color: var(--cor-do-footer);
    text-align: center;
}